NEXT_PUBLIC_SITE_URL=https://ananyagupta.dev
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_CLARITY_ID=
# Create a free key for your receiving email at https://web3forms.com/
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=e82d0b25-2d9a-4734-b482-50050f072f85
